
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


header {
  background-color:rgb(35, 55, 64);
  color:white;
  padding:25px;
}
header .title {font-size: 200%; font-weight: bold;}
header input[type="search"] {width:75%;}
nav {
  line-height:30px;
  background-color:#eeeeee;
  height:550px;
  width:18.5%;
  float:left;
  padding:5px;
}
section {
  width:80%;
  float:left;
}

section iframe {
  width:100%;
  height: 550px;
  border: none;
}
footer {
  clear:both;
  padding:5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a { color: #151b36; }
nav a:hover, nav a:active {
  color: #2f5799;
}